body {
    display: grid;
    grid-template-columns: 80px 80px auto;
    grid-template-rows: 120px 40px 800px;
    grid-gap: 4px;
    background-color: rgb(43, 46, 48);
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    transform: translate(5%, -30%);
    letter-spacing: 30px;
}

.box_1 {
    background-color: rgb(108, 79, 134);
}

.box_2 {
    background-color: rgb(12, 9, 19);
}

.box_3 {
    background-color: rgb(240, 229, 78);
}


.box_4 {
    background-color: rgb(66, 192, 186);
}

.box_5 {
    background-color: rgb(152, 212, 56);
}

.box_6 {
    background-color: rgb(216, 187, 22);

}

.box_7 {
    background-color: rgb(255, 145, 0);
}

.box_8 {
    background-color: rgb(17, 131, 106);
}

.box_9 {
    background-color: rgb(197, 206, 116);
    padding: 20px;
    display: grid;
    grid-template-columns: 1100px ;
    grid-template-rows: 800;
    grid-gap: 10px;
    overflow: hidden;
}

.inner_box_1 {
    transform: inherit;
    background-color: rgb(233, 195, 236);
    transform: translate(12%, 55%);
    width: 80%;
    height: 50%;
    border-radius: 50%;
}
.inner_box_2 {

    background-color: hsl(72, 9%, 22%);
    /* transform: translate(12%, 55%); */

    border-radius: 10px;
    padding: 20px;
}

.inner_box_2 h1  {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.link_item {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(5%, 60%);
    letter-spacing: 10px;

}

#ship {
    width: 120%;
    transform: translate(-10%, 15%);
}